@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: linear-gradient(#03dfa1, #05c8c6, #0ebed9);
  background-image: linear-gradient(to left, #03dfa1, #0ebed9);
}
